.btn.btn-outline-primary{
    border-color: #007BFF;
    background-color: white;
    color: black;
}
.btn.btn-outline-primary:hover{
    background-color: #007BFF;
    color: white;
}
.btn.btn-outline-danger{
    border-color: #DC3545;
    background-color: white;
    color: black;
}
.btn.btn-outline-danger:hover{
    background-color: #DC3545;
    color: white;
}
