#editButt{
    margin-top: 15%;
    position: relative;
    align-self: center;
    border-width: 1px;
    border-color: #007BFF;
    width: 60%; 
}
#editButtFollow{
    margin-top: 7%;
    border-width: 1px;
    border-color: #007BFF; 
    width: 60%; 
}
#sidePanLeft button:hover{
    color: #ffffff;
    background-color: #00254d;
    cursor: pointer;
}
#sidePanLeft{
    margin-top: 0%;
    text-align: center;
}