#AddCardHead{
  margin-top: 5%;
}
#inputtextCard{
  width: 80%;
}
#creditCard-1,
#creditCard-2,
#creditCard-3,
#creditCard-4{
  width: 15%;
}
#expiry{
  width: 10%;
}
#expiry-month,
#expiry-year{
  width: 20%;
}
#inputtextCardCVV{
  width: 11%;
}
#buttonSave{
  width: 20%;
}
#CardPan{
  margin-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 5%; 
}
.btn:focus {
  border-color: #6891a2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px 	#6891a2;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #6891a2;
  cursor: default;
}
.btn:hover{
  background-color: #00254d;
  cursor: pointer;
  color: white;
}
.form-control:focus{
  cursor: default;
}