#sidePanRight{
    background-color: white;
}
#sidePanLeft{
    margin-top: 2%;
    background-color: white;
    text-align: center;
}
#centerPan{
    background-color: white;
}
#headSub{
    text-align: center;
    margin-top: 5%;
}
.card{
    text-align: left;
}
/*.card-container.card{
    padding-bottom: -5%;
}*/
.card button{
    align-self: center;
}
.card-text{
    font-size: 0.8em;
}
#textincard{
    margin-bottom: 2%;
    padding-bottom: 5%; 
}
.btn.btn-outline-primary{
    border-color: #007BFF;
    background-color: white;
    color: black;
    width:45%;/*210px*/
    margin-left: 5%;/*30px,-130%*/
    margin-bottom: -4%;
}
.btn.btn-outline-primary:hover{
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
.btn.btn-outline-danger{
    border-color: #DC3545;
    background-color: #DC3545;
    color: white;
    width: 45%;/*210px*/
    margin-left:1%;/*30px,170%*/
    margin-bottom: -4%;
}
.btn.btn-outline-danger:hover{
    background-color: #d81528;
    color: white;
    cursor: pointer;
}
.card-img-top{
    width: auto;
    max-height: 250px;
}
